*{
    margin: 0;
}

$primaryColor: #353a80;

.wrap{
    display: flex;
    overflow: hidden;

    .profilePart{
        background: url(../Images/background-black.jpg);
        background-size: contain;
        width: 25vw;
        margin: 0;
        color: white;
        height: 100vh;
        position: relative;
        border-right: 1px solid #6e6c6c;
        box-sizing: border-box;

        .projectLogo{
            text-align: center;
            img{
                width: 70%;
            }
        }

        .exitButton{
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%);
            width: 100%;

            button{
                outline: none;
                font-size: 2vw;
                cursor: pointer;
                padding: 3px 0;
                background: none;
                width: 40%;
                margin: 0 30%;
                border-radius: 5px;
                text-align: center;
                color: $primaryColor;
                border: 0.2vw solid $primaryColor;
                transition: .5s;
            }
            :hover{
                background: $primaryColor;
            }
        }
    }

    .listPart{
        height: 100vh;
        width: 75vw;
        position: relative;

        .leftPhoto{
            position: absolute;
            width: 30%;
            left: 0;
            top: 0;
            background-size: cover;
            height: 100vh;
            background: url(../Images/2.jpg);
        }

        .rightPhoto{
            position: absolute;
            width: 30%;
            right: 0;
            background-size: cover;
            top: 0;
            height: 100vh;
            background: url(../Images/1.jpg);
        }

    }
}



.overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 20;
    transition: .3s all;

    .leftPhoto{
        position: absolute;
        width: 22.9%;
        left: 0;
        top: 0;
        height: 100vh;
        background: url(../Images/2.jpg);
    }

    .rightPhoto{
        position: absolute;
        width: 22.9%;
        right: 0;
        top: 0;
        height: 100vh;
        background: url(../Images/1.jpg);
    }

    @media screen and (max-width:800px){
        .rightPhoto{
            display: none;
        }
        .leftPhoto{
            width: 100vw;
        }
    }

  }

.modal{
    opacity: 0;
  visibility: hidden; 
  width: 95%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  height: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  transition: 0.3s all;

  .modalLogo{
        height: 60%;
        text-align: center;
        margin: 10px auto;

        img{
            height: 100%;
        }
    }

  .modalInputs{
      display: grid;
      
      input{
          width: 90%;
          margin: 20px auto;
      }

      #loginField{
        height: 80%;
        width: 45%;
        padding: 0 2%;
        margin-top: 0px;
        outline: none;
        border: none;
        font-size: 1.05rem;
        border-bottom: 1px solid black;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      }

      button{
        width: 50%;
        color: #6e6c6c;
        margin: 5% auto;
        border: 2.5px solid;
        border-radius: 25px;
        padding: 9px;
        background: #cccccc;
        font-size: 1.5rem;
        outline: none;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
        cursor: pointer;
        transition: .5s;
      }

      button:hover{
        color: black;
        background: #acabab;
      }

      @media screen and(max-width: 800px) {
          #loginField{
              width: 80%;
          }

          button{
              width: 70%;
          }
      }
  }
}

.modal.active,
.overlay.active{
 opacity: 1;
 visibility: visible;
}

.loader {
    background: none;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  .loader .loader_inner {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    opacity: 0;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(220deg)
    }
  }
  .loader .loader_inner:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
  }
  @keyframes animate2 {
    0% {
      box-shadow: inset #6e6c6c 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: inset #6e6c6c 0 0 0 2px;
    }
    100% {
      box-shadow: inset #6e6c6c 0 0 0 17px;
      transform: rotate(140deg);
    }
  }
